<section class="py-5 py-md-5">
  <div class="container-md py-5">
    <div class="row align-items-center justify-content-center">
      <figure class="col-9 col-sm-7 col-md-5 col-lg-5 col-xl-4 order-md-2">
        <img class="img-fluid d-flex m-auto" src="../../../assets/img/foto-keidson.png" alt="texto da img">
      </figure>
      <div class="col-12 col-md-7 col-lg-7 order-md-1 pt-5 pt-sm-0">
        <span class="text-primary text-uppercase fw-bold d-flex justify-content-center justify-content-md-start">seja bem vindo!</span>
        <h1 class="fs-1 fw-bold text-secondary text-center text-md-start">
          <span class="text-light">Olá, eu sou o <br>Keidson Roby :)</span>
        </h1>
        <p class=" font-monospace text-center text-md-start text-light text-opacity-75 mb-4 mb-lg-4">Desenvolvedor Front-End Angular 12 & UI Designer</p>
        <div class="text-center text-md-start">
          <a class="btn btn-primary border-2 px-3 py-2 me-2" href="https://www.linkedin.com/in/keidsonroby/" target="_blank" rel="noopener">Acessar o Linkedin</a>
          <a class="btn btn-outline-secondary text-light border-2 px-3 py-2" href="/home" rel="noreferrer">Entrar em contato</a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="bg-light bg-opacity-25 m-0">
<section class="py-1 my-5">
  <article class="container-md">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 py-5 justify-content-center">
      <div class="col">
        <a class="d-flex justify-content-center mb-4">
          <i class="bg-light bg-opacity-10 bi bi-github fs-4 px-3 py-2 rounded-circle text-primary"></i>
        </a>
        <h2 class="fs-4 fw-bolder text-primary text-center">GitHub</h2>
        <p class="text-center text-light text-opacity-75">/keidsondesigner</p>
      </div>
      <div class="col">
        <a class="d-flex justify-content-center mb-4">
          <i class="bg-light bg-opacity-10 bi bi-linkedin fs-4 px-3 py-2 rounded-circle text-primary"></i>
        </a>
        <h2 class="fs-4 fw-bolder text-primary text-center">Linkedin</h2>
        <p class="text-center text-light text-opacity-75">@keidsonroby</p>
      </div>
      <div class="col">
        <a class="d-flex justify-content-center mb-4">
          <i class="bg-light bg-opacity-10 bi bi-instagram fs-4 px-3 py-2 rounded-circle text-primary"></i>
        </a>
        <h2 class="fs-4 fw-bolder text-primary text-center">Instagram</h2>
        <p class="text-center text-light text-opacity-75">@keidsonroby</p>
      </div>
      <div class="col">
        <a class="d-flex justify-content-center mb-4">
          <i class="bg-light bg-opacity-10 bi bi-envelope fs-4 px-3 py-2 rounded-circle text-primary"></i>
        </a>
        <h2 class="fs-4 fw-bolder text-primary text-center">Email</h2>
        <p class="text-center text-light text-opacity-75">keidsondesigner@gmail.com</p>
      </div>
    </div>
  </article>
</section>
<hr class="bg-light bg-opacity-25 m-0">
<section class="mx-3 my-5" id="sobre">
  <article class="container-md">
    <div class="row row-cols-1 g-4 py-5 justify-content-center">
      <div class="col-12 col-sm-11 text-center">
        <h2 class="fs-3 fw-bold text-primary">Sobre mim</h2>
        <p class="font-monospace">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
      </div>
    </div>
  </article>
</section>
<section class="mx-3 my-5">
  <article class="container-md">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 g-4 py-5">
      <div class="col">
        <div class="border rounded p-3">
          <div class="pb-4 col">
            <div class="bg-danger d-inline-flex p-2 px-3 rounded-circle">
              <i class="bi bi-bookmark-check fs-4 text-primary"></i>
            </div>
          </div>
          <h3 class="fs-4 fw-bold text-light text-opacity-75">texto principal</h3>
          <p class="font-monospace">texto paragrafo</p>
        </div>
      </div>
      <div class="col">
        <div class="border rounded p-3">
          <div class="pb-4 col"><i class="bi bi-bookmark-check fs-3 text-primary"></i></div>
          <h3 class="fs-4 fw-bold text-light text-opacity-75">texto prinicpal</h3>
          <p class="font-monospace">texto paragrafo</p>
        </div>
      </div>
    </div>
  </article>
</section>
