<main>
  <section class="py-5 py-md-5">
    <div class="container-md py-5">
      <div
        class="row row-cols-1 row-cols-md-2 align-items-center justify-content-center"
      >
        <article class="order-2 order-md-1 pt-5 pt-sm-0">
          <header class="row">
            <h1
              class="fs-1 fw-bold text-light text-center text-md-start order-2"
            >
              Olá, eu sou o <br />Keidson Roby :)
            </h1>
            <p
              class="text-primary text-uppercase fw-bold d-flex justify-content-center justify-content-md-start order-1"
            >
              seja bem vindo!
            </p>
          </header>
          <p
            class="font-monospace text-center text-md-start text-light text-opacity-75 mb-2 mb-lg-1"
          >
            Desenvolvedor Front-End Angular 12 & UI Designer
          </p>
          <p
            class="font-monospace text-center text-md-start text-light text-opacity-75 mb-4 mb-lg-4"
          >
            Precisando de um site? entre em contato.
          </p>
          <div class="text-center text-md-start">
            <a
              class="btn btn-primary border-2 px-3 py-2 btn-one"
              href="https://www.linkedin.com/in/keidsonroby/"
              target="_blank"
              rel="noopener"
              >Acessar o Linkedin</a
            >
            <a
              class="btn btn-outline-secondary text-light border-2 px-3 py-2"
              href="https://api.whatsapp.com/send?phone=5592994571858"
              target="_blank"
              rel="noreferrer"
              >Entrar em contato</a
            >
          </div>
        </article>
        <figure
          class="order-1 order-md-2 col-9 col-sm-7 col-md-5 col-lg-5 col-xl-4"
        >
          <img
            class="img-fluid d-flex m-auto"
            src="../../../assets/img/foto-keidson.webp"
            alt="foto de keidson roby"
            width="376"
            height="376"
          />
        </figure>
      </div>
    </div>
  </section>
  <hr class="bg-light bg-opacity-25 m-0" />
  <section class="py-1 my-5">
    <article class="container-md">
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 py-5 justify-content-center"
      >
        <div class="col">
          <a
            class="d-flex justify-content-center mb-4"
            href="https://github.com/keidsondesigner"
            title="icon github"
            target="_blank"
            rel="noopener"
          >
            <i
              class="bg-light bg-opacity-10 bi bi-github fs-4 px-3 py-2 rounded-circle text-primary"
            ></i>
          </a>
          <h2 class="fs-4 fw-bolder text-primary text-center">GitHub</h2>
          <p class="text-center text-light text-opacity-75">/keidsondesigner</p>
        </div>
        <div class="col">
          <a
            class="d-flex justify-content-center mb-4"
            href="https://www.linkedin.com/in/keidsonroby/"
            title="icon linkedin"
            target="_blank"
            rel="noopener"
          >
            <i
              class="bg-light bg-opacity-10 bi bi-linkedin fs-4 px-3 py-2 rounded-circle text-primary"
            ></i>
          </a>
          <h2 class="fs-4 fw-bolder text-primary text-center">Linkedin</h2>
          <p class="text-center text-light text-opacity-75">@keidsonroby</p>
        </div>
        <div class="col">
          <a
            class="d-flex justify-content-center mb-4"
            href="https://www.instagram.com/keidsonroby/"
            title="icon instagram"
            target="_blank"
            rel="noopener"
          >
            <i
              class="bg-light bg-opacity-10 bi bi-instagram fs-4 px-3 py-2 rounded-circle text-primary"
            ></i>
          </a>
          <h2 class="fs-4 fw-bolder text-primary text-center">Instagram</h2>
          <p class="text-center text-light text-opacity-75">@keidsonroby</p>
        </div>
        <div class="col">
          <a
            class="d-flex justify-content-center mb-4"
            href="https://www.youtube.com/channel/UC-lemWp6LFgffpUs1oytywg"
            title="icon youtube"
            target="_blank"
            rel="noopener"
          >
            <i
              class="bg-light bg-opacity-10 bi bi-youtube fs-4 px-3 py-2 rounded-circle text-primary"
            ></i>
          </a>
          <h2 class="fs-4 fw-bolder text-primary text-center">Youtube</h2>
          <p class="text-center text-light text-opacity-75">
            Function Dev - Keidson Roby
          </p>
        </div>
      </div>
    </article>
  </section>
  <hr class="bg-light bg-opacity-25 m-0" />
  <section class="mx-3 my-5" id="sobre">
    <article class="container-md">
      <div class="row row-cols-1 g-4 py-5 justify-content-center">
        <div class="col-12 col-sm-10 text-center">
          <h2 class="fs-3 fw-bold text-primary pb-4">Sobre mim</h2>
          <p class="font-monospace opacity-75" style="text-align: justify;">
            👋 "Um garçom que queira ser programador", trabalhei de garçom por
            muitos anos, e sempre tive o sonho de me tornar um programador,
            trabalhei como freelancer designer gráfico, criando interfaces de
            landing pages nas horas vagas de trabalho, sempre busquei algo no
            meu trabalho, que fosse além de trabalho e ir em busca de algo que
            eu fizesse por prazer, foi então que conheci a
            programação(Javascript), através de um amigo próximo, fiquei
            encantado pelos poderes que ela pode proporcionar.
          </p>
          <p class="font-monospace opacity-75" style="text-align: justify;">
            Então resolvi explorar esse novo mundo, a área de desenvolvimento
            web sendo mais específico, e me apaixonei pelo Front end com
            Angular, que atualmente é meu maior foco de estudos, mas meu objetio
            é me tornar full stack, então estou sempre estudando algum back end.
          </p>
          <p class="font-monospace opacity-75" style="text-align: justify;">
            Meu maior objetivo como desenvolvedor, é ajudar meu time a entregar
            uma experiência incrível, para o cliente e usuário da nossa
            aplicação.
            <br />
            Hoje eu posso dizer, eu trabalho com o que eu amo!
          </p>
        </div>
      </div>
    </article>
  </section>
  <section class="mx-3 my-5" id="projetos">
    <article class="container-md">
      <h2 class="fs-3 fw-bold text-center text-primary">Projetos</h2>
      <div
        class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 g-4 py-5"
      >
        <div class="col">
          <div class="p-3 border bg-dark border-primary rounded">
            <div class="pb-4 col">
              <i class="bi bi-bookmark-check fs-3 text-primary"></i>
            </div>
            <h3 class="fs-4 fw-bold text-light">Gerenciador de Tarefas</h3>
            <p class="font-monospace text-light text-opacity-75">
              Adicione tarefas, edite, exclua ou marque como concluída.
              <a
                class="d-flex pt-3 text-decoration-none text-success"
                href="https://angular-todo-list-mauve.vercel.app/home"
                title="projeto gerenciador de tarefas"
                target="_blank"
                rel="noopener"
              >Acessar</a>
            </p>
          </div>
        </div>
        <div class="col">
          <div class="p-3 border bg-dark border-primary rounded">
            <div class="pb-4 col">
              <i class="bi bi-bookmark-check fs-3 text-primary"></i>
            </div>
            <h3 class="fs-4 fw-bold text-light">Loja de Produtos Eletronicos</h3>
            <p class="font-monospace text-light text-opacity-75">
              Este projeto encontrasse em desenvolvimento .........
              <a
                class="d-flex pt-3 text-decoration-none text-success"
                href="https://angular-spa-five.vercel.app/lista-produtos"
                title="projeto gerenciador de tarefas"
                target="_blank"
                rel="noopener"
              >Acessar</a>
            </p>
          </div>
        </div>
        <div class="col">
          <div class="p-3 border bg-dark border-primary rounded">
            <div class="pb-4 col">
              <i class="bi bi-bookmark-check fs-3 text-primary"></i>
            </div>
            <h3 class="fs-4 fw-bold text-light">Tela Inicial NuBank</h3>
            <p class="font-monospace text-light text-opacity-75">
              Aplicativo desenvolvido em Ionic e Capacitor, build para Android.
              <a
                class="d-flex pt-3 text-decoration-none text-success"
                href="https://ionic-nubank.vercel.app/home"
                title="projeto gerenciador de tarefas"
                target="_blank"
                rel="noopener"
              >Acesse pelo celular</a>
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>
  <section class="mx-3 my-5" id="habilidades">
    <article class="container-md">
      <h2 class="fs-3 fw-bold text-center text-primary">Habilidades</h2>
      <div
        class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-6 g-4 py-5 justify-content-center"
      >
        <div class="col">
          <a
            class="d-flex justify-content-center border bg-dark border-secondary p-4 rounded"
            href="https://developer.mozilla.org/pt-BR/docs/Web/HTML"
            target="_blank"
            rel="noopener"
          >
            <img
              class="icon-skills"
              src="../../../assets/img/icon-html5.svg"
              alt="logo html5"
            />
          </a>
        </div>
        <div class="col">
          <a
            class="d-flex justify-content-center border bg-dark border-secondary p-4 rounded"
            href="https://developer.mozilla.org/pt-BR/docs/Web/CSS"
            target="_blank"
            rel="noopener"
          >
            <img
              class="icon-skills"
              src="../../../assets/img/icon-css.svg"
              alt="logo css"
            />
          </a>
        </div>
        <div class="col">
          <a
            class="d-flex justify-content-center border bg-dark border-secondary p-4 rounded"
            href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript"
            target="_blank"
            rel="noopener"
          >
            <img
              class="icon-skills"
              src="../../../assets/img/icon-javascript.svg"
              alt="logo javascript"
            />
          </a>
        </div>
        <div class="col">
          <a
            class="d-flex justify-content-center border bg-dark border-secondary p-4 rounded"
            href="https://angular.io/guide/what-is-angular"
            target="_blank"
            rel="noopener"
          >
            <img
              class="icon-skills"
              src="../../../assets/img/icon-angular.svg"
              alt="logo angular"
            />
          </a>
        </div>
        <div class="col">
          <a
            class="d-flex justify-content-center border bg-dark border-secondary p-4 rounded"
            href="https://getbootstrap.com/"
            target="_blank"
            rel="noopener"
          >
            <img
              class="icon-skills"
              src="../../../assets/img/icon-boostrap.svg"
              alt="logo bootsrap"
            />
          </a>
        </div>
        <div class="col">
          <a
            class="d-flex justify-content-center border bg-dark border-secondary p-4 rounded"
            href="https://tailwindcss.com/"
            target="_blank"
            rel="noopener"
          >
            <img
              class="icon-skills"
              src="../../../assets/img/icon-tw.svg"
              alt="logo tailwind css"
            />
          </a>
        </div>
      </div>
    </article>
  </section>
</main>
