/* Config Default  */
html {
  scroll-behavior: smooth;

  /* Config scrollbar firefox  */
  scrollbar-color: $green $teal;
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background-color: $teal;
}

html::-webkit-scrollbar-thumb {
  background-color: $green;
  border-radius: 6px;
}

body {
  overflow-x: hidden;
  font-family: $font-family-sans-serif;
  background: linear-gradient(252.44deg, #1a1a1a 0%, #0a0a0a 100%);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: $green !important;
}
