<hr class="bg-light bg-opacity-25 m-0">
<footer>
  <section class="">
    <article class="container-md">
      <div class="row py-3">
        <div class="col-12 col-sm-6">
          <p class="m-0 text-body text-center text-sm-start">Copyright © 2023 Keidson Roby</p>
        </div>
        <div class="col-12 col-sm-6">
          <ul class=" list-unstyled d-flex justify-content-center justify-content-sm-end m-0">
            <li class="ms-3">
              <a class="social-one text-body" href="/home" title="icon twitter" aria-label="twitter"
                href="https://twitter.com/KeidsonRoby"
                title="icon twitter"
                target="_blank"
                rel="noopener"
              ><i class="bi bi-twitter"></i></a>
            </li>
            <li class="ms-3">
              <a class="social-two text-body" href="/home" title="icon instagram" aria-label="Instagram"
                href="https://www.instagram.com/keidsonroby/"
                title="icon instagram"
                target="_blank"
                rel="noopener"
              ><i class="bi bi-instagram"></i></a>
            </li>
            <li class="ms-3">
              <a class="social-three text-body" href="/home" title="icon linkedin" aria-label="Linkedin"
                href="https://www.linkedin.com/in/keidsonroby/"
                target="_blank"
                rel="noopener"
              ><i class="bi bi-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </section>
</footer>
